.title {
  margin-bottom: 20px;
}

.add-button {
  text-align: right;
}

.header {
  font-size: 1.5em;
  padding-bottom: 10px;

  .actions {
    text-align: center;

    @media(max-width: 768px) {
      text-align: left;
    }
  }
}
